global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'otel-collector'
    static_configs:
      - targets: ['lab32-otel-collector:8889']

  - job_name: 'lab32-visitor-counter'
    static_configs:
      - targets: ['lab32-visitor-counter:8000']
    metrics_path: /metrics
