global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'otel-collector'
    static_configs:
      - targets: ['lab15-otel-collector:8889']

  - job_name: 'leaderboard-api'
    static_configs:
      - targets: ['lab15-leaderboard-api:8000']
    metrics_path: /metrics

  - job_name: 'redis'
    static_configs:
      - targets: ['lab15-redis:6379']
