global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'otel-collector'
    static_configs:
      - targets: ['lab08-otel-collector:8889']

  - job_name: 'product-service'
    static_configs:
      - targets: ['lab08-product-service:8000']
    metrics_path: /metrics
