global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'otel-collector'
    static_configs:
      - targets: ['lab37-otel-collector:8889']

  - job_name: 'lock-service'
    static_configs:
      - targets: ['lab37-lock-service:8000']
    metrics_path: /metrics

  - job_name: 'redis'
    static_configs:
      - targets: ['lab37-redis-1:6379', 'lab37-redis-2:6379', 'lab37-redis-3:6379']
