global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8889']

  - job_name: 'client'
    static_configs:
      - targets: ['client:8000']
    metrics_path: /metrics

  - job_name: 'backend'
    static_configs:
      - targets: ['backend:8001']
    metrics_path: /metrics
